.home-section {
  /* background: #f5f5f5; */
  min-height: 100vh;
 font-family: "Outfit", sans-serif;
 
}

.home-section h1,
.home-section h3 {
  color:white;
  
}


.home-section span {
  color: #f50dfd;
  font-family: "Lobster Two", sans-serif;
}

.home-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color:rgba(255, 255, 255, 0.82)
}
@keyframes scalePulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.profile-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: center 37%; /* IMPORTANT tweak */
  border-radius: 50%;
  animation: scalePulse 3s ease-in-out infinite;
}


